rgb(33, 138, 174) 69%,
rgb(32, 167, 172) 89%
) !important;
}

.ui.main.container,
.main.segment {
margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
padding-bottom: 0 !important;
padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
border: dashed 3px #eee;
border-radius: 5px;
padding-top: 30px;
text-align: center;
/* min-height: 236px; */
}

.dropzone--isActive {
border: dashed 3px green;
}